@import "src/common.scss";

.markdown-body-wrap.light {
  @import "highlight.js/scss/github.scss";
  @import "github-md-light";
}

.markdown-body-wrap.dark {
  @import "highlight.js/scss/github-dark.scss";
  @import "github-md-dark";
}

.markdown-body-wrap {
  display: flex;
  padding-bottom: 20px;

  .markdown-body {
    width: 100%;
    overflow: hidden;
    flex-grow: 0;
    font-size: 16px !important;
    line-height: 2 !important;

    nav.toc {
      position: fixed;
      right: 0;
      top: 0;
      padding: 20px;
      max-height: 60vh;
      overflow-x: hidden;
      overflow-y: auto;

      ol,
      li {
        list-style: none;
      }

      ol {
        padding-left: 20px;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    a {
      background-color: transparent;
      color: $primary-color;
      text-decoration: none;
    }

    img {
      max-height: 50vh;
    }
  }
}
