@import "src/common.scss";

.article_renderer-wrap {
  flex: 1;

  .article-info-wrap {
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 50px;

    .created-date {
      margin-top: 20px;
    }

    .reading-words {
      margin-top: 6px;
    }

    .reading-time {
      margin-top: 6px;
    }
  }
}
