@import 'src/common.scss';
$prefix: category-detail-page;

.#{$prefix} {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px;
  min-height: 100vh;

  .#{$prefix}_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }

  .#{$prefix}_list {
    margin-top: 40px;

    .#{$prefix}_list-item {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 0 20px;
      border-radius: 4px;

      &:hover {
        background: $primary-color;
        color: #ffffff;
        padding-left: 40px;
        transition: all 0.3s;
      }

      .#{$prefix}_list-item-title {
        font-size: 14px;
      }

      .#{$prefix}_list-item-date {
        font-size: 12px;
        flex-shrink: 0;
        margin-left: 20px;
      }
    }
  }
}
