@import "src/common.scss";

.page-login-wrap {
  overflow: hidden;
  background: url("https://assest.sablogs.cn/imgs/blog/wallhaven-1pomov.jpg");
  min-height: 100vh;

  .page-login {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;

    .login-panel {
      border-radius: 20px;
      padding: 40px 40px;
      background: rgba(255, 255, 255);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50vh;
      height: auto;

      .back-btn {
        position: absolute;
        left: 10px;
        top: 10px;
      }

      .login-panel-logo-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        .login-panel-logo {
          width: 70px;
          height: 70px;
        }
      }

      .login-panel-input-wrap {

        .input-item {
          margin-top: 20px;
        }

        .login-btn {
          width: 100%;
          margin-top: 20px;
        }


        .register-btn {
          width: 100%;
          margin-top: 40px;
        }

        .other-login-methods {
          margin-top: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          .other-login-methods-item {
            cursor: pointer;
          }

          .wechat {

          }
        }
      }

      .other-action-bar {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        flex-flow: row-reverse;

        & > div {
          &:hover {
            cursor: pointer;
            color: $primary-color;
          }
        }

        .new-vip {

        }

        .forgot-password {

        }

      }
    }
  }

  &.dark {


    .page-login {
      background: rgba(0, 0, 0, 0.6);

      .login-panel {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
