@import 'src/common.scss';

.md_renderer-wrap .toc-wrap {
  color: inherit;
  position: fixed;
  left: calc(50% + (1400px / 2));
  top: 200px;
  width: calc((100vw - 1400px - 50px) / 2);
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.book-page {
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;

  .book-page-left {
    flex-shrink: 0;
    width: 180px; /* 左侧列的宽度 */
    position: sticky;
    top: 20px;
    left: 0;
    overflow: hidden;
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    line-break: anywhere;
    padding: 0 10px;

    .tag-item {
      padding: 10px 0;

      .tag-item-title-wrap {
        cursor: pointer;
        padding: 4px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-weight: 700;
        }

        .arrow {
          transition: 200ms;
          color: #8b8b8b;

          &.show {
            rotate: 90deg;
          }

          &:hover {
            color: inherit;
          }
        }
      }

      .tag-article-list {
        color: #8b8b8b;
        padding-bottom: 10px;

        .tag-article-item {
          cursor: pointer;
          font-weight: 500;
          padding: 4px 0;

          &.selected {
            font-weight: 700;
            color: $primary-color;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .book-page-main {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 40px;
    flex: 1;

    .article-title {
      text-align: center;
    }

    .article-content {
    }
  }

  .book-page-right {
    flex-shrink: 0;
    width: 200px; /* 右侧列的宽度 */
    position: sticky;
    top: 20px;
    right: 0;
  }

  .menu-toggle-btn {
    position: fixed;
    left: 20px;
    bottom: 120px;
  }
}
