@import "src/common.scss";

.md_renderer-wrap {
  @import 'highlight.js/scss/github.scss';

  #preview-container {
    z-index: 999998;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 150ms ease-in;
    cursor: pointer;
    /* 添加手型光标，表示可点击 */
  }

  #preview {
    max-height: 90vh;
    max-width: 90vw;
  }

  #preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    padding: 20px 0;
    line-height: 24px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 16px;
  }

  a {
    padding: 0 5px;
    color: $primary-color;
    text-decoration: underline;
  }

  code {
    font-size: 14px;
    border-radius: 6px;
    padding: 3px 10px;
    margin: 0 6px;
    background: #f6f6f7;
    color: $primary-color;
  }

  p {
    padding: 10px;

    img {
      max-width: 70%;
      max-height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px auto;
    }
  }

  ul,
  ol {
    margin: 0 20px;
    padding: 10px;

    li {
      padding: 6px;
      line-height: 25px;

      p{
        padding: 0;
        margin: 0;
      }
    }
  }

  blockquote {
    margin: 10px 0;
    padding: 0 10px;
    border-left: 6px $primary-color solid;
    border-radius: 3px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 6px;
      }
    }

    p {
      padding: 10px;
    }
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin: 1em 0;
    padding: 0;
  }

  b,
  strong {
    font-weight: bold;
  }

  dfn {
    font-style: italic;
  }

  ins {
    text-decoration: none;
  }

  mark {
    font-style: italic;
    font-weight: bold;
  }

  pre {
    overflow: auto;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;
    padding: 20px 10px;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;

    .hljs {
      background: #f6f6f7;
      overflow-x: auto;
    }
  }

  table {
    box-sizing: border-box;
    padding: 20px;
    border-collapse: collapse;

    tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    tr td {
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }
  }

  &.dark {
    @import 'highlight.js/scss/github-dark.scss';

    code {
      background: #232323;
      color: $primary-color;
    }

    blockquote {

      & code {
        background: #232323;
        color: $primary-color;
      }
    }

    hr {
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #eee;
    }

    pre {

      .hljs {
        background: #232323;
      }
    }

    hr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    table {

      tr th {
        border: 1px solid #cccccc;
      }

      tr td {
        border: 1px solid #cccccc;
      }

      tr {
        border-top: 1px solid #cccccc;
        background-color: white;

        &:nth-child(2n) {
          background-color: #f8f8f8;
        }
      }
    }

    table {
      color: #ffffff;

      tr th {
        border: 1px solid #989898;

      }

      tr td {
        border: 1px solid #989898;

      }

      tr {
        border-top: 1px solid #989898;
        background-color: #363636;

        &:nth-child(2n) {
          background-color: #545454;
        }
      }
    }
  }

  .article-info-wrap {
    text-align: center;
    font-size: 14px;
    color: #aaaaaa;
    margin-bottom: 50px;

    .created-date {
      margin-top: 20px;
    }

    .reading-words {
      margin-top: 6px;
    }

    .reading-time {
      margin-top: 6px;
    }
  }

  .toc-wrap {
    color: inherit;
    position: fixed;
    left: calc(50% + (1000px / 2));
    top: 200px;
    width: calc((100vw - 1000px - 50px) / 2);

    a {
      text-decoration: none;
    }

    ul,
    ol {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;

      &::marker {
        content: '';
      }

      p {
        padding: 0;
        margin: 0;
      }
    }

    .toc-item {
      padding-left: 10px;
      position: relative;

      .toc-link {
        padding-left: 10px;
        border-left: 6px solid transparent;
        transition: ease-in-out 150ms;
        display: flex;
        align-items: center;
        color: inherit;

        &:hover {
          color: $primary-color;
        }
      }

      .toc-link-active {
        border-left: 6px solid $primary-color;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }
}
