@import "src/common.scss";

.article-page-wrap {
  padding: 100px 20px;
  //display: flex;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;

  .article-page {
    flex: 1;
    overflow: hidden;

    .article-title {
      font-size: 24px;
      text-align: center;
    }

    .article-content {
      .article-content-toc-wrap {
        position: fixed;
        top: 100px;
        left: calc(50% + 600px);
      }
    }

    .article-summary-wrap {
      color: #ffffff;
      margin-top: 20px;
      border-radius: 20px;
      padding: 20px;
      background: linear-gradient(
        102deg,
        #ff6ed6 -1.72%,
        rgba(179, 107, 244, 0.94) 25.36%,
        #a66bff 96.67%
      );

      .article-summary-title {
        font-size: 22px;
        font-weight: bold;
      }

      .article-summary-content {
        margin-top: 20px;
      }
    }

    .article-switching-wrap {
      margin-top: 80px;

      .article-switching {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .article-switching-item {
          width: 50%;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          outline: none;
          box-sizing: border-box;
          padding: 20px;
          border-radius: 12px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .article-switching-item-title {
            font-size: 16px;
          }

          .article-switching-item-name {
            font-size: 14px;
            margin-top: 10px;
            font-weight: normal;
          }
        }

        .article-switching-prev {
          text-align: right;
          margin-right: 20px;
        }

        .article-switching-next {
          text-align: left;
          margin-left: 20px;
        }
      }
    }

    .article-comment-wrap {
      margin-top: 60px;

      .comment-need-login {
        text-align: center;
        padding: 50px 20px;
      }

      .article-comment-list {
        padding-right: 20px;
        margin-top: 20px;
      }
    }
  }

  &.is-mobile {
    .article-switching-wrap {
      .article-switching {
        display: block;

        .article-switching-item {
          width: 100%;
          margin-top: 20px;
        }

        .article-switching-prev {
          margin-right: 0;
        }

        .article-switching-next {
          margin-left: 0;
        }
      }
    }
  }
}
