.page-subject {
  padding: 50px 0;
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .page-subject-left {
    user-select: none;
    width: 30%;
    padding-right: 10%;

    .page-subject-divider {
      width: 100%;
      height: 4px;
      background: #000;
      margin-top: 60px;
    }

    .page-subject-en-title {
      margin-top: 30px;
      font-size: 46px;
    }

    .page-subject-cn-title {
      margin-top: 30px;
    }

    .page-subject-cn-desc {
      margin-top: 30px;
    }
  }

  .page-subject-right {
    display: flex;
    flex: 1;

    .page-subject-technical-section {
      display: flex;
      flex: 1;
      overflow: hidden;
      border-radius: 40px;

      .page-subject-technical-section-left {
        flex: 1;
        display: flex;
        flex-flow: column;
      }

      .page-subject-technical-section-right {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
        flex: 1;
        text-align: right;
      }

      .special-subject-list-item {
        position: relative;
        overflow: hidden;
        transition: all 0.5s;
        display: block;
        width: 100%;
        flex: 2;
        cursor: pointer;

        &:not(:first-child) {
          margin-top: 10px;
        }

        &.frontend {
          flex: 3;
        }

        .special-subject-list-item-bg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          z-index: 1;
        }

        .special-subject-list-item-content-words-wrap {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          z-index: 2;
          color: #fff;
          padding: 50px;

          .special-subject-list-item-title {
            font-size: 28px;
            font-weight: bold;
          }

          .special-subject-list-item-desc {
            margin-top: 20px;
            overflow: hidden;
            font-size: 16px;
            font-weight: bold;
            line-height: 32px;
            color: #fff;
            text-overflow: ellipsis;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
          }
        }

        &:hover {
          flex: 4;

          .special-subject-list-item-content-words-wrap {
            backdrop-filter: blur(6px);
          }
        }
      }
    }
  }

  &.dark {
    .page-subject-left {
      .page-subject-divider {
        background: #ffffff;
      }
    }
  }
}
