.footer-wrap {

  .footer {
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    max-width: 1100px;

    &.isMobile{
      padding-bottom: 76px;
    }

    .m-t-20 {
      margin-top: 20px;
    }

    & > div {
      flex: 1;
    }

    .copyright-information {

      .copyright-information-title {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .friendly-link {
      font-size: 14px;

      .friendly-link-title {
        font-weight: bold;
        font-size: 16px;
      }
    }

    .contact-information {
      font-weight: bold;
      font-size: 16px;
    }

    .internet-content-provider {
      font-size: 14px;

      .internet-content-provider-title {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

.mobile-footer-wrap{
  z-index: 999999;
  position: fixed;
  bottom: 0;
  width: 100vw;
}