@import "src/common.scss";

.page-guide-nav-content-wrap {
  position: sticky;
  top: 20px;
  overflow: hidden;
  width: 200px;
  margin-left: 20px;
  overflow-y: auto;
  max-height: 80vh;
  flex-shrink: 0;

  .page-guide-nav-content {
    border-left: 1px solid #e7e7e7;

    .title-anchor {
      position: relative;
      display: block;
      transition: all 0.2s;
      line-height: 2rem;
      cursor: pointer;
      border-left: 3px solid transparent;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        border-left: 3px solid $primary-color;
      }
    }

    .title-anchor:hover,
    .title-anchor.active {
      text-decoration: inherit;
    }

    .title-anchor.active {
      color: $primary-color;
    }

    .title-anchor small {
      margin: 0 0.8em;
    }

    .title-level1 {
      padding-left: 1em;
    }

    .title-level2 {
      padding-left: 1em;
    }

    .title-level3 {
      padding-left: 3em;
    }

    .title-level4 {
      padding-left: 5em;
    }

    .title-level5 {
      padding-left: 7em;
    }

    .title-level6 {
      padding-left: 9em;
    }
  }
}

.page-guide-nav-content-wrap.dark{
  .page-guide-nav-content {
    border-left: 1px solid #333333;
  }
}
