@import "src/common.scss";

.main {
  min-height: 100vh;
  height: inherit;
  margin: 0 auto;
  max-width: 1200px;

  .container-wrap {
    display: flex;

    .container {
      flex: 1;
      margin-right: 8px;

      .special-subject-wrap {
        padding: 0 20px;
        max-width: 1200px;
        margin: 0 auto 20px;

        .special-subject-title {
          font-size: 20px;
        }

        .special-subject-list {
          margin-top: 20px;
          display: flex;
          align-items: center;

          .special-subject-list-item {
            overflow: hidden;
            transition: ease-in-out 150ms;
            position: relative;
            width: 100%;
            flex: 1;
            padding: 20px 20px 0;
            min-height: 100px;
            color: #ffffff;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;

            &.frontend {
              background: linear-gradient(rgb(0, 122, 194) 0%, rgb(0, 45, 73) 100%);
            }

            &.backend {
              background: linear-gradient(rgb(0, 201, 197) 0%, rgb(0, 86, 86) 100%);
            }

            &.algorithm {
              background: linear-gradient(rgb(189, 45, 0) 0%, rgb(79, 19, 0) 100%);
            }

            &-img {
              position: absolute;
              right: 0;
              bottom: 0;
              height: 100px;
            }

            &:hover {
              transform: scale(1.05);

              .special-subject-list-item-img {
                animation: rotate 10s linear infinite alternate-reverse;

                @keyframes rotate {
                  0% {
                    transform: rotate(0);
                  }

                  100% {
                    transform: rotate(360deg);
                  }
                }
              }
            }
          }
        }
      }

      .article-list-wrap {
        max-width: 100vw;
        margin: 0 auto;

        .article-list-category {
          position: sticky;
          top: 0;
          //padding-top: 16px;
          //padding-bottom: 12px;
          //background: #ffffff;
          display: flex;
          z-index: 1;

          .article-list-category-item {
            font-size: 14px;
          }
        }

        .article-list-container {
          padding: 20px;

          .article-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            .left {
              .article-img-wrap {
                width: 100%;
                max-height: 300px;
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 12px;

                .article-img {
                  width: 850px;
                  height: 300px;
                  object-fit: cover;
                  overflow: hidden;
                  cursor: pointer;
                  transition: 0.3s ease-in-out;

                  &:hover {
                    transform: scale(1.05);
                  }
                }
              }

              .article-title {
                display: inline-block;
                font-size: 20px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0);
                transition: 300ms ease-out;

                &:hover {
                  color: $primary-color;
                  cursor: pointer;
                  border-color: $primary-color;
                }
              }

              .create-time {
                font-size: 12px;
                margin-top: 20px;
                color: #aaaaaa;
              }

              .summary {
                color: #aaaaaa;
                margin-top: 20px;
                font-size: 14px;

                .summary-btn {
                  margin-left: 10px;
                  cursor: pointer;
                  color: $primary-color;
                }
              }

              .title-desc-wrap {
                color: #aaaaaa;
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-size: 12px;

                .article-category {
                  display: flex;
                  align-items: center;
                  transition: 200ms ease-in-out;
                  cursor: pointer;

                  &:hover {
                    color: $primary-color;
                  }
                }

                .article-tag {
                  margin-left: 20px;
                  display: flex;
                  align-items: center;
                  transition: 200ms ease-in-out;
                  cursor: pointer;

                  &:hover {
                    color: $primary-color;
                  }
                }

                .article-comment-count {
                  margin-left: 20px;
                  display: flex;
                  align-items: center;
                }
              }
            }

            //.right {
            //  flex-shrink: 0;
            //
            //  .create-time {
            //    font-size: 12px;
            //    color: #aaaaaa;
            //  }
            //}
          }
        }

        .list-bottom-loading {
        }

        .list-bottom-over {
          text-align: center;
          padding: 50px;
          color: #666666;
        }
      }

      .pagination-wrap {
        max-width: 1000px;
        margin: 50px auto;

        .pagination {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .aside-wrap {
      position: sticky;
      top: 20px;
      max-height: 90vh;
      margin-left: 10px;
      overflow: hidden;
      flex-shrink: 0;
      padding: 5px;
      width: 322px;

      .data-panel{
        margin-top: 20px;
        border-radius: 13px;
        padding: 16px;

        .data-panel-title {
          user-select: none;
          font-weight: bold;
          font-size: 16px;
        }

        .heatmap-nums {
          display: flex;
          align-items: center;

          .heatmap-nums-item {
            padding: 20px;
            flex: 1;
            text-align: center;

            .heatmap-nums-count {
              font-size: 20px;
            }

            .heatmap-nums-title {
              margin-top: 10px;
              font-size: 14px;
              color: #8a8a8a;
            }
          }
        }

        .statistical-panel-standard-divider {
          margin-bottom: 16px;
        }
      }

      .statistical-panel {
        margin-top: 20px;
        border-radius: 13px;
        padding: 16px 16px 0;

        .statistical-panel-title {
          user-select: none;
          font-weight: bold;
          font-size: 16px;
        }

        .heatmap-chart {
          margin: 0 auto;
        }
      }

      .tag-panel {
        margin-top: 20px;
        border-radius: 13px;
        padding: 16px;

        .tag-panel-title {
          font-weight: bold;
          font-size: 16px;
          user-select: none;
        }
      }

      .time-flies-panel {
        margin-top: 20px;
        border-radius: 13px;
        padding: 20px 16px;
      }

      .aside-footer {
        color: #666666;
        margin-top: 25px;
        font-size: 14px;
      }
    }
  }

  &.mobile {
    .home-page-header-img {
      font-size: 18px;

      .hitokoto-wrap {
        width: 100vw;
        padding: 15px 30px;
      }

      .form-who {
        margin-right: 0;
      }
    }
  }
}
