@import 'src/common.scss';

.main {
  display: flex;

  .container-wrap {
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 0 auto;

    .container {
      flex: 1;
      max-width: 700px;
      width: 100%;

      .article-list-wrap {
        .article-list-category {
          position: sticky;
          top: 0;
          //padding-top: 16px;
          //padding-bottom: 12px;
          //background: #ffffff;
          display: flex;
          z-index: 1;

          .article-list-category-item {
            font-size: 14px;
          }
        }

        .article-list-container {
          overflow: hidden;
          padding: 20px;

          .article-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            .left {
              width: 100%;

              .article-img-wrap {
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 12px;
                // width: 820px;
                height: 300px;

                &.isMobile {
                  width: 100%;
                  height: 200px;
                }

                .article-img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  cursor: pointer;
                  transition: 0.3s ease-in-out;

                  &:hover {
                    transform: scale(1.05);
                  }
                }
              }

              .article-title {
                display: inline-block;
                font-size: 20px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0);
                transition: 300ms ease-out;

                &:hover {
                  color: $primary-color;
                  cursor: pointer;
                  border-color: $primary-color;
                }
              }

              .create-time {
                font-size: 12px;
                margin-top: 20px;
                color: #aaaaaa;
              }

              .summary {
                color: #aaaaaa;
                margin-top: 20px;
                font-size: 14px;

                .summary-btn {
                  margin-left: 10px;
                  cursor: pointer;
                  color: $primary-color;
                }
              }

              .title-desc-wrap {
                color: #aaaaaa;
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-size: 12px;

                .article-category {
                  display: flex;
                  align-items: center;
                  transition: 200ms ease-in-out;
                  cursor: pointer;

                  &:hover {
                    color: $primary-color;
                  }
                }

                .article-tag {
                  margin-left: 20px;
                  display: flex;
                  align-items: center;
                  transition: 200ms ease-in-out;
                  cursor: pointer;

                  &:hover {
                    color: $primary-color;
                  }
                }

                .article-comment-count {
                  margin-left: 20px;
                  display: flex;
                  align-items: center;
                }
              }
            }

            //.right {
            //  flex-shrink: 0;
            //
            //  .create-time {
            //    font-size: 12px;
            //    color: #aaaaaa;
            //  }
            //}
          }
        }

        .list-bottom-loading {
        }

        .list-bottom-over {
          text-align: center;
          padding: 50px;
          color: #666666;
        }
      }
    }

    .aside-wrap {
      padding: 0 10px;

      flex-shrink: 0;
      width: 240px;
      box-sizing: border-box;
      position: sticky;
      top: 20px;
      max-height: 90vh;
      margin-left: 10px;
      overflow: hidden;

      .data-panel {
        margin-top: 10px;
        border-radius: 12px;
        padding: 12px;

        .data-panel-title {
          user-select: none;
          font-weight: bold;
          font-size: 14px;
        }

        .heatmap-nums {
          padding: 0 6px;

          .heatmap-nums-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            text-align: center;
            margin-top: 10px;

            .heatmap-nums-count {
              margin: 0 20px;
              font-size: 18px;
              color: $primary-color;
            }

            .heatmap-nums-title {
              margin-top: 10px;
              font-size: 12px;
              color: #8a8a8a;
            }
          }
        }

        .statistical-panel-standard-divider {
          margin-bottom: 16px;
        }
      }

      .statistical-panel {
        margin-top: 10px;
        border-radius: 12px;
        padding: 12px 12px 0;

        .statistical-panel-title {
          user-select: none;
          font-weight: bold;
          font-size: 14px;
        }

        .heatmap-chart {
          margin: 0 auto;
        }
      }

      .tag-panel {
        margin-top: 10px;
        border-radius: 12px;
        padding: 12px;

        .tag-panel-title {
          font-weight: bold;
          font-size: 14px;
          user-select: none;
        }
      }

      .time-flies-panel {
        margin-top: 10px;
        border-radius: 12px;
        padding: 12px;
      }

      .aside-footer {
        color: #666666;
        margin-top: 25px;
        font-size: 14px;
      }
    }
  }

  &.mobile {
    .home-page-header-img {
      font-size: 18px;

      .hitokoto-wrap {
        width: 100vw;
        padding: 15px 30px;
      }

      .form-who {
        margin-right: 0;
      }
    }
  }
}
